xml-resources/web-service-references/TrasladoMedicamento/wsdl/localhost_8080/Farmacia/TrasladoMedicamento.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ServiciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TrasladoMedicamento" targetNamespace="http://ServiciosWeb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ServiciosWeb/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ServiciosWeb/">
  <xs:element name="Traslado_Med" type="tns:Traslado_Med"/>
  <xs:element name="Traslado_MedResponse" type="tns:Traslado_MedResponse"/>
  <xs:complexType name="Traslado_Med">
    <xs:sequence>
      <xs:element minOccurs="0" name="Medicamentos" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Traslado_MedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamingException" type="tns:NamingException"/>
  <xs:complexType name="NamingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="resolvedObj" type="xs:anyType"/>
      <xs:element minOccurs="0" name="explanation" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="NamingException">
    <wsdl:part element="tns:NamingException" name="NamingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Traslado_MedResponse">
    <wsdl:part element="tns:Traslado_MedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Traslado_Med">
    <wsdl:part element="tns:Traslado_Med" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TrasladoMedicamento">
    <wsdl:operation name="Traslado_Med">
      <wsdl:input message="tns:Traslado_Med" name="Traslado_Med">
    </wsdl:input>
      <wsdl:output message="tns:Traslado_MedResponse" name="Traslado_MedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:NamingException" name="NamingException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrasladoMedicamentoSoapBinding" type="tns:TrasladoMedicamento">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Traslado_Med">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Traslado_Med">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="Traslado_MedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NamingException">
        <soap:fault name="NamingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrasladoMedicamento">
    <wsdl:port binding="tns:TrasladoMedicamentoSoapBinding" name="TrasladoMedicamentoPort">
      <soap:address location="http://localhost:8080/Farmacia/TrasladoMedicamento"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>