src/META-INF/wsdl/localhost_8080/Farmacia/Despacho.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ServiciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Despacho" targetNamespace="http://ServiciosWeb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ServiciosWeb/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ServiciosWeb/">
  <xs:element name="DespachoMed" type="tns:DespachoMed"/>
  <xs:element name="DespachoMedResponse" type="tns:DespachoMedResponse"/>
  <xs:complexType name="DespachoMed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Meds" type="xs:string"/>
      <xs:element minOccurs="0" name="Paciente" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DespachoMedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="DespachoMedResponse">
    <wsdl:part element="tns:DespachoMedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DespachoMed">
    <wsdl:part element="tns:DespachoMed" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Despacho">
    <wsdl:operation name="DespachoMed">
      <wsdl:input message="tns:DespachoMed" name="DespachoMed">
    </wsdl:input>
      <wsdl:output message="tns:DespachoMedResponse" name="DespachoMedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DespachoSoapBinding" type="tns:Despacho">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DespachoMed">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DespachoMed">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DespachoMedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Despacho">
    <wsdl:port binding="tns:DespachoSoapBinding" name="DespachoPort">
      <soap:address location="http://localhost:8080/Farmacia/Despacho"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>