src/META-INF/wsdl/localhost_8080/Farmacia/RegFarma.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ServiciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RegFarma" targetNamespace="http://ServiciosWeb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ServiciosWeb/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ServiciosWeb/">
  <xs:element name="RegistroFarmacia" type="tns:RegistroFarmacia"/>
  <xs:element name="RegistroFarmaciaResponse" type="tns:RegistroFarmaciaResponse"/>
  <xs:complexType name="RegistroFarmacia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="Direccion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistroFarmaciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="RegistroFarmacia">
    <wsdl:part element="tns:RegistroFarmacia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegistroFarmaciaResponse">
    <wsdl:part element="tns:RegistroFarmaciaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegFarma">
    <wsdl:operation name="RegistroFarmacia">
      <wsdl:input message="tns:RegistroFarmacia" name="RegistroFarmacia">
    </wsdl:input>
      <wsdl:output message="tns:RegistroFarmaciaResponse" name="RegistroFarmaciaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegFarmaSoapBinding" type="tns:RegFarma">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegistroFarmacia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RegistroFarmacia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegistroFarmaciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegFarma">
    <wsdl:port binding="tns:RegFarmaSoapBinding" name="RegFarmaPort">
      <soap:address location="http://localhost:8080/Farmacia/RegFarma"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>